// ----------------------------
// bootstrap variable overrides
// ----------------------------

.link:hover {
  background-color: #5bc0de;
}

@font-face {
  font-family: 'airstreamregular';
  src: url('assets/fonts/Airstream-webfont.eot');
  src: url('assets/fonts/Airstream-webfont.eot?iefix') format('embedded-opentype'), url('fonts/Airstream-webfont.woff') format('woff'), url('fonts/Airstream-webfont.ttf') format('truetype'), url('fonts/Airstream-webfont.svg?airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lakeshore';
  src: url('assets/fonts/LAKESHOR-webfont.eot');
  src: url('assets/fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/LAKESHOR-webfont.woff') format('woff'), url('fonts/LAKESHOR-webfont.ttf') format('truetype'), url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

.row {
  clear: both;
}

.cell {
  height: 10px;
  width: 10px;
  border: 1px solid gray;
  float: left;
}

.alive {
  background-color: black;
}

#otter-caption {
  color: #cdc0dd;
  text-align: center;
  text-transform: uppercase;
  font-family: airstreamregular;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-size: 24px;
}

#otter-name {
  color: #cf96db;
  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-size: 37px;
}

.navbar {
  padding: 2px;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

//#map-jumbotron{
//  height: 100%;
//}

#mars-image {
  content: url("https://www.nasa.gov/sites/default/files/thumbnails/image/yir2014-maven.jpg");
}

.media-object {
  margin: 0 auto;
}

.thumbnail {
  margin: 0 auto;
}

img {
  margin: 0 auto;
}

//#bubble .media-well{
//  background-color: black;
//  color: #000;
//}

#external-image {
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/yir2014-maven.jpg");
}

.media-well {
  margin: 0 auto;
}

//.life-container {
//  position: relative;
//  padding-bottom: 56.25%;
//  padding-top: 35px;
//  height: 0;
//  overflow: hidden;
//}
//
//.life-container canvas{
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container #sketcheroo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//
//.iframe {
//  margin: 0 auto;
//}

.ui-resizable-se {
  bottom: 13px;
  right: 2px;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}

// end bootstrap variable overrides
@import 'bootstrap';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
