<h1>Coffee Order</h1>
<form {{action "create" on="submit"}}>
  <div class="form-group">
    <label for="name">Your Order</label>
    {{input value=model.name
            type="text" class="form-control" name="name" required="true"}}
  </div>
  <div class="form-group">
    <label for="email">Your Email Address</label>
    {{input value=model.email
            type="email" class="form-control" name="email" required="true"}}
  </div>
  <div class="form-group">
    <label for="size">Size</label>
    {{#x-select value=model.size class="form-control"}}
      {{#x-option}}Select Size{{/x-option}}
      {{#x-option value='short'}}Short{{/x-option}}
      {{#x-option value='tall'}}Tall{{/x-option}}
      {{#x-option value='grande'}}Grande{{/x-option}}
      {{#x-option value='coffee-zilla'}}Coffee-zilla{{/x-option}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label for="flavor">Flavor Shot</label>
    {{#x-select value=model.size class="form-control"}}
      {{#x-option}}No Flavor{{/x-option}}
      {{#x-option value='caramel'}}Caramel{{/x-option}}
      {{#x-option value='almond'}}Almond{{/x-option}}
      {{#x-option value='mocha'}}Mocha{{/x-option}}
      {{#x-option value='vanilla'}}Vanilla{{/x-option}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    {{input value=model.quantity
            type="number" class="form-control" name="quantity" required="true"}}
  </div>

  <button type="submit" class="btn btn-primary btn-block">Create</button>
  <button type="reset" class="btn btn-link btn-block">Reset</button>
</form>