<div class="jumbotron">
  <div class="media-well">
    <h2>An accordion</h2>
    {{#jqui-accordion}}
      <h3>Hi</h3>
      <div>
        <p>
          Hello there!
        </p>
      </div>
      <h3>Bye</h3>
      <div>
        <p>
          Goodbye. See you later...
        </p>
      </div>
    {{/jqui-accordion}}
  </div>
</div>
<div class="jumbotron">
  <div class="media-well">
    <h2>A datepicker {{fa-icon "calendar"}}</h2>
    {{jqui-datepicker value=myDate yearRange="2017:2042"}}
  </div>
</div>
